<h3>Comments</h3>
<% commentable.comments.each do |comment| %>
	<div class="comment-container">
		<% comment_user = User.find_by comment.user_id %>
		<div class="avatar-container">
			<a href="/profiles/<%=comment_user.id%>">
				<%= comment_user.firstname %>
			</a>
			<img src="<%= comment_user.defaultimage %>" alt="">
		</div>
		<%= comment.body %>
	</div>
<% end %>
