.container {
	max-width: 960px;
}

.logo img {
	max-width: 200px;
}

.signup {
	display: inline-block;
}

.profile-default-image img {
	max-width: 90px;
}

.comment-container img {
	max-width: 90px;
	margin: 0 auto;
}

.comment-container {
	display: block;
	margin-bottom: 4px;
	width: 100%;
}

.comment {
	font-weight: normal;
}



.avatar {
	max-width: 150px;
	text-align: center;

}

.avatar a {
	color: #000099
}

.avatar-container {
	font-weight: bold;
	display:inline-block;
	background-color: #ff9999;
	min-height: 200px;
	width: 30%;

}

.comment-body {
	display: inline-block;
	background-color: #ffdddd;
	width: 70%;
	vertical-align: top;
	min-height: 200px;
}

.block {
	display: block;

}


/* LAYOUT CSS */

nav {
	background-color: #2222ff;
	align-items: center;
}

.inner-nav {
	display: inline-block;
}

/* SESSION HOME CSS */

.welcome-box img {
	max-width: 90px;
}

/* PROFILE CSS */
